body {
    font-family: 'Epilogue', sans-serif;
    color: #000;
    background: #ffffee;
        background: linear-gradient(213deg, #ffffee 0%, #ffffee 45%, rgb(255 255 255) 100%);
}

a {
    color: rgb(224, 224, 224);
}

h1 {
    margin: 1rem 10px;
    font-size: 1.2rem;
}

/* LAYOUT */

body {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3rem);
    padding: 1rem;
}

#playlist,
#shownotes {
    flex-grow: 1;
    flex-basis: auto;
    height: auto;
}

#shownotes {
    overflow: scroll;
}

/* flip layout on horizontal screen */

@media (min-aspect-ratio: 10/8) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        column-gap: 2rem;
        background: #ffffee;
    }

    #playlist {
        grid-row-start: 1;
        grid-row-end: 3;

    }

    #playlist,
    #shownotes {
        width: 100%;
        height: 100%;
    }

}